version: 2.1

orbs:
  aws-cli: circleci/aws-cli@3.1
jobs:
  set_up_variables: 
    environment:
      AWS_ACCESS_KEY: "AKIARNQ6UFRQJVD3USGV"
      AWS_SECRET_KEY: "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"
      AWS_REGION: "us-east-1"
    executor: aws-cli/default
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout
      - run:
          name: "SET UP AWS CREDENTIALS"
          command: |
            aws configure --profile default set aws_access_key_id $AWS_ACCESS_KEY
            aws configure --profile default set aws_secret_key $AWS_SECRET_KEY
            aws configure --profile default set aws_region $AWS_REGION
            aws configure --profile default list
            
  display_aws_instance_name:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Display aws instance address"
          command: | 
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
  build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Build"
          command: npm i
      - save_cache:
          paths:
            - "/src/node_modules"
          key: "npm-packages"
      - run: npm run lint
  test:
    docker:
      - image: circle/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: 
            - "npm-packages"
      - run: 
          name: "Test"
          command: |
            npm i
            npm run test
  analyze:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - restore_cache:
            keys:
              - "npm-packages"
        - run: 
            name: "Analyzing modules"
            command: npm audit


workflows:
  Myworkflow:
    jobs:
     - set_up_variables
    #   - build
    #   - test: 
    #       requires: [build]
    #   - analyze:
    #       requires: [test]
