version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Build"
          command: npm i
      - save_cache:
          paths:
            - "/src/node_modules"
          key: "npm-packages"
      - run: npm run lint
  test:
    docker:
      - image: circle/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: 
            - "npm-packages"
      - run: 
          name: "Test"
          command: |
            npm i
            npm run test
  analyze:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - restore_cache:
            keys:
              - "npm-packages"
        - run: 
            name: "Analyzing modules"
            command: npm audit


workflows:
  say-hello-workflow:
    jobs:
      - build
      - test: 
          requires: [build]
      - analyze:
          requires: [test]
